# Mac OS files
.DS_Store

# Local env files
.deploy/env
vote_app_backend/.env
frontend-ui/.env

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Backend ignores:
vote_app_backend/showvotes/__pycache__/
vote_app_backend/vote_app_backend/__pycache__/
vote_app_backend/tests/__pycache__/
vote_app_backend/.pytest_cache/
vote_app_backend/projenv/

# Frontend ignores
frontend-ui/node_modules/
frontend-ui/dist/

# Local environment ignores
certificates/janina.test+3-key.pem
certificates/janina.test+3.pem
